/*Переменные*/
:root{ /*Псевдокласс (не изучали пока что)*/
    --pop-up_background-color: rgba(156,156,156,49%); /*Переменная*/
    --standart-border: 3px solid black; /*Переменная*/
    --mini-border: 1px solid black;
    --form-bg-color_standart: #F4F4F4;
    /*.standart-form {
        background-color: #F4F4F4;
        border-radius: 20px;
        border-width: 0px;
        height: 30px;
        width: 300px;
    }*/
}
body{
    margin:0;
}
main{
    background-color: #ECECEC;
}
header, footer{
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
}
.errors{
    color: red;
}
.disabled{
    display: none;
}
button:active{
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-0.5px);
}
select{
    border: 1px solid black;;
    border-radius: 20px;
    font-size: 16px;
}