/*header*/

header{
    height: 162px;
    display: flex;
}

.links__search{
    width: 600px;
    margin-left: 59px;
}

.links__buttons{
    display: flex;
    justify-content: space-between;
}

.menu_user-logo>*{
    display: block;
    text-align: center;
}

.menu_user-logo{
    margin-left: 600px;
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: black;
}